@model smartmat.Models.ReviewViewModel

@{
    ViewBag.Title = "Mine Tilbakemeldinger";
    Layout = "_Layout";
}

<style>
    h3 {
        margin: 1em 1em 0;
    }
    .reviewBox {
        display: inline-block;
        border-width: 1px;
        border-style: solid;
        border-color: var(--globalColor);
        padding: 1em;
        margin: 1em;
    }
    .aboutReview {
        font-size: 0.9em;
        opacity: 0.8;
    }
</style>

<partial name="_ProfilePartial" xmlns="http://www.w3.org/1999/html"/>

<div class="mainDiv container-fluid bg-light shadow rounded">
    <h1 class="standaloneHeader font-weight-bold">Mine Tilbakemeldinger</h1>
    
    <h3>Dine Tilbakemeldinger</h3>
    @if (!Model.MyReviews.Any())
    {
        <p>Du har ikke gitt noen tilbakemeldinger enda.</p><br>
    }
    @foreach (var review in Model.MyReviews)
    {
        <div class="col-sm-3 reviewBox rounded">
            @for (int i = 0; i < review.Stars; i++)
            {
                <span class="fa fa-star"></span>
            }
            @for (int i = review.Stars; i < 5; i++)
            {
                <span class="fa fa-star-o"></span>
            }

            <h5>@review.Title</h5>
            <p>@review.Description</p>
            <p class="aboutReview">Tilbakemelding på '@review.Recipe.Title'</p>
        </div>
    }
    
    <h3>Tilbakemeldinger til deg</h3>
    @if (!Model.OthersReviews.Any())
    {
        <p>Du har ikke fått noen tilbakemeldinger enda.</p><br>
    }
    @foreach (var review in Model.OthersReviews)
    {
        <div class="col-sm-3 reviewBox rounded">
            @for (int i = 0; i < review.Stars; i++)
            {
                <span class="fa fa-star"></span>
            }
            @for (int i = review.Stars; i < 5; i++)
            {
                <span class="fa fa-star-o"></span>
            }
            
            <h5>@review.Title</h5>
            <p>@review.Description</p>
            <p class="aboutReview">Tilbakemelding på '@review.Recipe.Title' av @review.Recipe.ApplicationUser.UserName</p>
        </div>
    }
</div>
