@model RecipeUserViewModel
@{
    ViewData["Title"] = "Rask Mat";
}

<style>
#checkboxes{
    transform: translateX(80%);
    margin-top: -35px;
    font-weight: bold;
    font-size: 15px;
}

</style>

<partial name="_MealNavPartial" />

<h2>Her finner du alle oppskrifter under 30 minutt</h2>

<div id="checkboxes">
    <label class="form-check-label" for="flexCheckDefault">Vegetarmat</label>
    <div class="form-check" id="vegCheck">
        <a class="nav-link" asp-area="" asp-controller="Meals" asp-action="FastFoodGlutVeg"><input class="form-check-input" type="checkbox" value="" id="flexCheckDefault"></a>
    </div>
    <br><br>
    <label class="form-check-label" for="flexCheckChecked">Glutenfri</label>
    <div class="form-check" id="glutCheck">
        <a class="nav-link" asp-area="" asp-controller="Meals" asp-action="FastFood"><input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked></a>
    </div>
</div>

<a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Til hjemsiden</a>

<div id="fastfood-recipes">
    <h3>Rask Mat</h3>
    <div class="horizontal-scroll">
        @foreach (var recipe in Model.Recipes)
        {
            @if (recipe.Time <= 30 && recipe.Glutenfree == true)
            {
                <a class="card rounded" asp-area="" asp-controller="Recipes" asp-action="Details" asp-route-id="@recipe.Id">
                    <h5 class="card-title">@recipe.Title</h5>
                    <div class="imgcontainer card-img-middle"><img alt="Oppskriftsbilde @recipe.Title" src="@recipe.ImagePath"></div>
                    <p class="cardIntrotext">@recipe.Introduction</p>
                    <p class="card-author-box">Kategori: @recipe.Category<p/>

                    @if (recipe.Reviews != null)
                    {
                        var avg = Math.Round(recipe.Reviews.Average(r => r.Stars)/0.5)*0.5;
                        var rest = avg % 1;
                        var half = rest > 0;
                        @for (var i = 0; i < avg-rest; i++)
                        {
                            <span class="fa fa-star"></span>
                        }
                        @if (half)
                        {
                            <span class="fa fa-star-half-o"></span>
                        }
                        @for (var i = Math.Round(avg); i < 5; i++)
                        {
                            <span class="fa fa-star-o"></span>
                        }
                    }
                    else
                    {
                        @for (var i = 0; i < 5; i++)
                        {
                            <span class="fa fa-star" style="opacity: 0.2;"></span>
                        }
                    }
                
                    @if (recipe.ApplicationUser != null)
                    {
                        <div class="card-author-box"><img alt="Brukerbilde @recipe.ApplicationUser.UserName" src="~/userimages/@(recipe.UserId).png">
                            <p>Av @recipe.ApplicationUser.UserName</p>
                        </div>
                    }
                </a>  
            }
             
        }
    </div>
</div>

