@model RecipeSmsViewModel

@{
    var recipe = Model.Recipes.FirstOrDefault();
    System.Diagnostics.Debug.Assert(recipe != null, nameof(recipe) + " != null");
    Model.ingredientList = recipe.Ingredients;
    ViewData["Title"] = recipe.Title;
    Layout = "_Layout";
}

<table id="recipeList">
    
    @*Not currently working*@
    @foreach (var ingredient in recipe.Ingredients.Split(", "))
    {
        <tr>
            <td>
                <input type="checkbox" class="recipeCheckbox"> @ingredient
            </td>
        </tr>
    }
    
    @*Can also maybe append the recipe tittle to the sms?*@
    <form asp-action="SendSms">
        <div class="px-4 pt-0 pb-4 cover" id="inputForm">
        <div class="form-group">
            <label asp-for="@Model.ingredientList" class="control-label"></label>
            <input asp-for="@Model.ingredientList" class="form-control" />
            <span asp-validation-for="@Model.ingredientList" class="text-danger"></span>
        </div>
            <div>
                <label asp-for="@Model.phoneNumber" class="control-label"></label>
                <input asp-for="@Model.phoneNumber"  placeholder="med landskode, f.eks: +4712345678"  class="form-control" />
                <span asp-validation-for="@Model.phoneNumber" class="text-danger"></span>
            </div>
            <br>
        <div class="form-group">
            <input type="submit" value="Send SMS" class="btn btn-primary "/>
        </div>
        </div>
    </form>
    
</table>
